.gradient-img-text{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#species-info-tabs{
  .nav-link{
    position: relative;
    padding-top: 195px;
    font-size: 20px;
    color: $color-main;
    font-weight: $font-weight-normal;
    margin: 25px;
    background-color: transparent;
    width: 190px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.1em;

    &::before{
      content: "";
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: 0;
      left: 0;
      height: 190px;
      width: 190px;
      border-radius: 20px;
    }

    &#argentine-ants-tab::before{
      background-image: url(images/ants-argentine.jpg);
    }
    &#carpenter-ants-tab::before{
      background-image: url(images/ants-carpenter.jpg);
    }
    &#odorous-house-ants-tab::before{
      background-image: url(images/ants-odorous-house.jpg);
    }
    &#red-imported-fire-ants-tab::before{
      background-image: url(images/ants-imported-fire.jpg);
    }
    &#pavement-ants-tab::before{
      background-image: url(images/ants-pavement.jpg);
    }
    &#american-roach-tab::before{
      background-image: url(images/roach-american.jpg);
    }
    &#brownbanded-roach-tab::before{
      background-image: url(images/roach-brownbanded.jpg);
    }
    &#german-roach-tab::before{
      background-image: url(images/roach-german.jpg);
    }
    &#deer-mice-tab::before{
      background-image: url(images/mice-deer.jpg);
    }
    &#house-mice-tab::before{
      background-image: url(images/mice-house.jpg);
    }
    &#norway-rat-tab::before{
      background-image: url(images/mice-norway.jpg);
    }
    &#roof-rats-tab::before{
      background-image: url(images/mice-roof.jpg);
    }
    &#black-widow-spiders-tab::before{
      background-image: url(images/spider-black-widow.jpg);
    }
    &#brown-recluse-spiders-tab::before{
      background-image: url(images/spider-brown-recluse.jpg);
    }
    &#common-house-spiders-tab::before{
      background-image: url(images/spider-common-house.jpg);
    }
    &#jumping-spiders-tab::before{
      background-image: url(images/spider-jumping.jpg);
    }
    &#wolf-spiders-tab::before{
      background-image: url(images/spider-wolf.jpg);
    }
    &#carpenter-bees-tab::before{
      background-image: url(images/bee-carpenter.jpg);
    }
    &#yellow-jackets-tab::before{
      background-image: url(images/bee-yellow-jacket.jpg);
    }
    &#european-hornets-tab::before{
      background-image: url(images/bee-european-hornet.jpg);
    }
    &#bald-faced-hornets-tab::before{
      background-image: url(images/bee-pale-faced-hornet.jpg);
    }
    &#honey-bees-tab::before{
      background-image: url(images/bee-honey.jpg);
    }
    &#american-dog-tick-tab::before{
      background-image: url(images/tick-american-dog.jpg);
    }
    &#blacklegged-deer-ticks-tab::before{
      background-image: url(images/tick-deer.jpg);
    }
    &#lone-star-ticks-tab::before{
      background-image: url(images/tick-lonestar.jpg);
    }
    &#brown-dog-ticks-tab::before{
      background-image: url(images/tick-brown-dog.jpg);
    }
    &#rocky-mountain-ticks-tab::before{
      background-image: url(images/tick-rocky-mountain.jpg);
    }
    &#eastern-subterranean-termites-tab::before{
      background-image: url(images/eastern-subterranean-termites.jpg);
    }
    &#drywood-termites-tab::before{
      background-image: url(images/drywood-termites.jpg);
    }
    &#formosan-termites-tab::before{
      background-image: url(images/formosan-termites.jpg);
    }
    &#yellow-fever-mosquito-tab::before{
      background-image: url(images/yellow-fever-mosquito.jpg);
    }
    &#asian-tiger-mosquito-tab::before{
      background-image: url(images/asian-tiger-mosquito.jpg);
    }
    &#culex-mosquito-tab::before{
      background-image: url(images/culex-mosquito.jpg);
    }
    &#oriental-roach-tab::before{
      background-image: url(images/oriental-roach.jpg);
    }
    &#smoky-brown-roach-tab::before{
      background-image: url(images/smoky-brown-roach.jpg);
    }

    &:hover,
    &:focus,
    &.active{
      font-weight: $font-weight-bold;
      color: $color-alt;
    }
  }
}

#species-info-content{
  .card{
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: $color-light-gray;
    border-radius: 20px;

    h2{
      font-weight: $font-weight-black;
      font-style: italic;
      text-align: center;
    }

    .table{
      th{
        font-weight: $font-weight-black;
        color: $color-main;
        text-transform: uppercase;
      }
    }
    p>strong{
      font-weight: $font-weight-black;
      color: $color-main;
    }
  }
}

.section-with-bg{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;

  .white-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .3);
    z-index: 1;
  }

  .section-with-bg-content{
    position: relative;
    z-index: 3;
  }
}

.borate-features{
  background-color: $color-light-gray;
  border-radius: 20px;
  max-width: 515px;
  padding: 25px 25px 25px 0px;
}
.borate-downloads{
  display: flex; 
  
  .borate-download{
    max-width: 165px;
    margin: 25px;
  }
}