.gradient-img-text{
  background-repeat: no-repeat;
  background-size: cover;
}

#species-info-tabs{
  .nav-link{
    position: relative;
    padding-top: 195px;
    font-size: 20px;
    color: $color-main;
    font-weight: $font-weight-normal;
    margin: 25px;
    background-color: transparent;
    width: 190px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.1em;

    &::before{
      content: "";
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: 0;
      left: 0;
      height: 190px;
      width: 190px;
      border-radius: 20px;
    }

    &#argentine-ants-tab::before{
      background-image: url(images/ants-argentine.jpg);
    }
    &#carpenter-ants-tab::before{
      background-image: url(images/ants-carpenter.jpg);
    }
    &#odorous-house-ants-tab::before{
      background-image: url(images/ants-odorous-house.jpg);
    }
    &#red-imported-fire-ants-tab::before{
      background-image: url(images/ants-imported-fire.jpg);
    }
    &#pavement-ants-tab::before{
      background-image: url(images/ants-pavement.jpg);
    }

    &:hover,
    &:focus,
    &.active{
      font-weight: $font-weight-bold;
      color: $color-alt;
    }
  }
}

#species-info-content{
  .card{
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: $color-light-gray;
    border-radius: 20px;

    h2{
      font-weight: $font-weight-black;
      font-style: italic;
      text-align: center;
    }

    .table{
      th{
        font-weight: $font-weight-black;
        color: $color-main;
        text-transform: uppercase;
      }
    }
    p>strong{
      font-weight: $font-weight-black;
      color: $color-main;
    }
  }
}

.section-with-bg{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;

  .white-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .3);
    z-index: 1;
  }

  .section-with-bg-content{
    position: relative;
    z-index: 3;
  }
}