.woocommerce{
  .col2-set .col-1,
  .col2-set .col-2{
    max-width: none;
  }

  form{
    .form-row{
      margin-bottom: 10px;

      label{
        display: block;
        line-height: 1em;
      }

      input.input-text,
      textarea,
      .select2-container--default .select2-selection--single{
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }
    }

    .password-input{
      width:100%;
    }
  }

  .woocommerce-input-wrapper{
    width: 100%;
  }
}

.woocommerce-page{
  form{
    .password-input{
      width: 100%;
    }
  }
}