$color-main: #1e5631;
$color-alt: #ecb24a;
$color-alt-dark: #6a0106;
$color-dark-gray: #020608;
$color-light-gray: #f2f2f2;

$font-family: "Lato", sans-serif;

$font-weight-nomral: 400;
$font-weight-bold: 700;
$font-weight-black: 900;